/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #333;
}

/* Container */
.container {
  width: 100%;
  height: 100vh;
  background-color: #f1f1f1;
  display: flex;
  padding: 0px;
  flex-direction: column;
  padding-top: 10%;
  align-items: center;
}

/* Header */
h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}


/* Tabs */
.tab-sec{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs{
  display: flex;
  margin-bottom: 20px;
  height: auto;
  background-color: #007bff;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
}

.tab {
  padding: 12px 20px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 0px;
  color: #1f1f1f;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab:hover {
  background-color: #ccc;
}

.tab.active {
  background-color: #ff0040;
  color: #fff;
}

.tab:focus {
  outline: none;
}

/* Tab Content */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* File Input Styles */
input[type="file"] {
  margin: 15px 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input-bg{
  background-color: #ff004086;
  border-radius: 10px;
  height: 100px;
  color: white;
  margin-top: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30vw;
  padding: 10px;
  align-items: center;

}

.input-bg img{
  height: 50%;
  object-fit: scale-down;
  filter: brightness(500);
}



/* Button Styles */
button {
  background-color: #ff0000;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: #e00038;
}

/* Preview Container */
.preview-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}



.preview-container img {
  max-width: 100%;
  height: auto;
  margin: 5px;
  border-radius: 5px;
}

/* Image Download Button */
.download-button {
  margin-top: 15px;
  background-color: #ff0040;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #eb013c;
}


@media only screen and (max-width: 1024px) {
  .input-bg{
    width: 70vw;
  }
}
